{% extends 'base.html' %}

{% block content %}

<div class="edit-profile-page">

    <div class="edit-profile-card">

        <div class="edit-profile-header">

            <div class="edit-profile-icon">
                <i class="fa-solid fa-lock"></i>
            </div>

            <h1>Change Password</h1>

            <p>
                Update your SecureBank account password
            </p>

        </div>


        {% if error %}

        <div class="profile-error">
            {{ error }}
        </div>

        {% endif %}


        <form method="POST">

            {% csrf_token %}


            <!-- CURRENT PASSWORD -->

            <div class="profile-form-group">

                <label>
                    Current Password
                </label>

                <input
                    type="password"
                    name="current_password"
                    placeholder="Enter current password"
                    required
                >

            </div>


            <!-- NEW PASSWORD -->

            <div class="profile-form-group">

                <label>
                    New Password
                </label>

                <input
                    type="password"
                    name="new_password"
                    placeholder="Enter new password"
                    minlength="6"
                    required
                >

                <small>
                    Password must be at least 6 characters.
                </small>

            </div>


            <!-- CONFIRM PASSWORD -->

            <div class="profile-form-group">

                <label>
                    Confirm New Password
                </label>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    minlength="6"
                    required
                >

            </div>


            <!-- BUTTONS -->

            <div class="profile-form-actions">

                <button
                    type="submit"
                    class="save-profile-btn"
                >
                    <i class="fa-solid fa-check"></i>

                    Change Password

                </button>


                <a
                    href="{% url 'profile' %}"
                    class="cancel-profile-btn"
                >
                    <i class="fa-solid fa-arrow-left"></i>

                    Cancel

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}